@import 'Variables';
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    background-color: $primaryColor !important;
    box-shadow: $boxShadow !important;
}