@import 'Variables';

.work {
    background: linear-gradient(180deg, $primaryColor 60%, #fff 60%);

    &__container {
        padding: 4rem 0px;

        &__line {
            background-color: #fff;
            height: 3px;
            width: 100px;
            margin-top: 2rem;
        }
    }
}